/**** GLOBAL SETTINGS ****/
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/**** BODY ****/
body {
  background-image: linear-gradient(to top, #12181B, #2A2E35);
  color: white;
}

/**** HEADER ****/
header {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-image: linear-gradient(to left, #12181B, #2A2E35);
  padding: 10px;
}

header a {
  color: white;
  text-decoration: none;
}

.titleSite {
  font-family: "Cubano", sans-serif;
  font-weight: 400;
}

.sliderImages {
  text-align: center;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  background-image: linear-gradient(#12181B, #2A2E35);
}

.welcomeSlider {
  vertical-align: middle;
  width: 100%;
  max-width: 70rem;
}

/**** NAVBAR ****/
.navbar {
  background-color: #2A2E35;
  font-family: "Cubano", sans-serif;
  font-weight: 400;
  opacity: 0.8;
  font-size: 1.2rem;
  padding: 1rem;
  z-index: 3;
  color: white;
  box-shadow: 5px 5px 20px rgba(0, 0, 0, 0.5);
  position: sticky;
  top: 0;
}

.listInline {
  display: flex;
  align-items: center;
  list-style-type: none;
  overflow: hidden;
  max-width: 120rem;
  margin-left: 3rem;
  margin-right: 3rem;
}

.listInline>li a {
  display: block;
  text-align: center;
  padding: 0.5rem;
  text-decoration: none;
  color: white;
}

.listInline>li a:hover {
  padding: 0.5rem;
  transform: translateY(-3%);
  background-color: #25E35F;
  color: #2A2E34;
}

/**** MAIN ****/
main {
  text-align: center;
  font-family: "Sofia Pro", sans-serif;
  color: white;
}

.containerContent,
.containerContentHome {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
  grid-auto-rows: 350px;
  gap: 20px;
  padding: 20px;
  place-items: center;
  place-content: center space-around;
  /* background-image: linear-gradient(#12181B, #2A2E35); */
  justify-items: center;
  margin: 2rem;
  color: white;
  font-family: "Sofia Pro", sans-serif;
  font-size: 1.2rem;
  border-radius: 0.5rem;
  /* box-shadow: 5px 5px 20px rgba(0, 0, 0, 0.5); */
}

.containerContent {
  grid-template-rows: repeat(2, auto);
}

.containerContentHome {
  grid-template-rows: auto;
}

.subtitle {
  grid-column: 1/-1;
  grid-template-rows: 50px;
  /* grid-area: subtitle; */
  color: #151B1E;
  padding: 0.5rem;
  background-color: #9166CC;
}

.contentSubtitle {
  display: block;
  text-align: center;
  font-family: "Cubano", sans-serif;
  font-weight: 400;
}

.filters {
  grid-column: 1/-1;
  /* text-align: center;
  text-align: center; */
  /* margin-top: 2rem; */
  /* grid-area: filters; */
}

.filters>select {
  width: 13rem;
  height: 2rem;
  font-size: 0.9rem;
  font-family: "Roboto Mono", sans-serif;
  color: white;
  background-color: rgb(77, 77, 77);
  border: none;
  border-radius: 0.5rem;
  margin: 1rem;
}

.productCard {
  display: flex;
  flex-direction: column;
  align-content: center;
  height: 350px;
  justify-content: space-between;
  align-items: center;
  row-gap: 1rem;
  z-index: 1;
  background-image: linear-gradient(to top, #12181B, #2A2E35);
  padding: 2rem;
  border-radius: 0.5rem;
  color: white;
  font-family: "Sofia Pro", sans-serif;
  font-size: 1.2rem;
  box-shadow: 0px 1px 10px rgba(0, 0, 0, 0.2);
  transition: all 400ms ease;
  width: min(300px, 100%);
}

.productCard:hover {
  box-shadow: 5px 5px 20px black;
  transform: translateY(-3%);
}

.productCard>img {
  width: 100%;
}

.productCard h4,
p {
  margin: 0.5rem;
}

.btn {
  text-transform: uppercase;
  /* background-color: #498AFB; */
  /* color: white; */
  font-family: "Sofia Pro", sans-serif;
  /* border: none; */
  border-radius: 0.5rem;
  padding: 0.5rem;
  margin-left: 0.5rem;
  margin-right: 0.5rem;
  cursor: pointer;
}

/* .btnAddcart:hover {
  background-color: #25E35F;
  box-shadow: 5px 5px 20px rgba(0, 0, 0, 0.5);
  transform: translateY(-3%);
} */

.btnSubmit {
  background-color: #498AFB;
  color: white;
  font-size: 1rem;
  border: none;
  padding: 0.5em;
  margin-left: 0.5em;
  margin-right: 0.5em;
  cursor: pointer;
  border-radius: 0.5rem;
}

.btnSubmit:hover {
  background-color: #25E35F;
  box-shadow: 5px 5px 20px rgba(0, 0, 0, 0.5);
  transform: translateY(-3%);
}

.container {
  display: flex;
  flex-direction: column;
  margin: 5rem;
  background-image: linear-gradient(#12181B, #2A2E35);
  padding: 5rem;
  border-radius: 0.5rem;
}

.containerContentForm {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-areas:
    "subtitleForm"
    "form";
  gap: 1rem;
  background-image: linear-gradient(#12181B, #2A2E35);
  margin: 2rem;
  padding: 1rem;
  color: white;
  font-family: "Sofia Pro", sans-serif;
  font-size: 1.2rem;
  border-radius: 0.5rem;
  box-shadow: 5px 5px 20px rgba(0, 0, 0, 0.5);
}

.subtitleForm {
  grid-area: subtitleForm;
  color: #151B1E;
  padding: 0.5rem;
  background-color: #9166CC;
}

.formGroup {
  grid-area: form;
  display: flex;
  flex-direction: column;
  background-image: linear-gradient(to top, #12181B, #2A2E35);
  border-radius: 1rem;
  width: min(40rem, 100%);
  height: 100%;
  padding: 1rem;
}

.form {
  margin-top: 1rem;
}

.form button {
  margin-top: 1rem;
  margin-bottom: 1rem;
}

.camp label {
  display: block;
  font-size: 1.2rem;
}

.camp input,
textarea {
  width: 100%;
  padding: 0.4rem;
  border-radius: 0.5rem;
  font-family: "Sofia Pro", sans-serif;
  font-size: 1rem;
  font-weight: bold;
}

.formLogin a,
.formRegister a {
  color: white;
}

.btnSubmitNews {
  background-color: rgb(39, 38, 38);
  color: white;
  font-size: 0.8rem;
  border: none;
  padding: 0.5em;
  margin-left: 0.5em;
  margin-right: 0.5em;
  cursor: pointer;
}

.multimedia {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-areas:
    "subtitleVideo"
    "videoContainer"
    "subtitleMap"
    "mapContainer";
  justify-content: space-around;
  align-content: space-around;
}

.subtitleVideo {
  grid-area: subtitleVideo;
  margin: 2rem;
  color: #151B1E;
  padding: 0.5rem;
  background-color: #9166CC;
}

.videoContainer {
  grid-area: videoContainer;
}

.subtitleMap {
  grid-area: subtitleMap;
  margin: 2rem;
  color: #151B1E;
  padding: 0.5rem;
  background-color: #9166CC;
}

.mapContainer {
  grid-area: mapContainer;
}

iframe {
  border-radius: 0.5rem;
  margin: 3rem;
  box-shadow: 5px 5px 20px rgba(0, 0, 0, 0.5);
  grid-area: media;
}

/**** FOOTER ****/
.footerCopyright {
  background-color: #13191C;
  padding: 1.5rem;
  text-align: center;
  color: white;
  font-family: "Sofia Pro", sans-serif;
  font-size: 1rem;
}

.footerSocials {
  text-align: center;
  background-color: #202429;
  padding: 2rem;
  color: white;
  font-family: "Sofia Pro", sans-serif;
}

.sectionSocials>div h3 {
  padding: 0.5rem;
  vertical-align: middle;
}

.sectionAbout,
.sectionAbout h3 {
  padding: 0.5rem;
}

.footerSocials>section img {
  width: 2rem;
  height: 2rem;
}

.centerItemsGrid {
  justify-self: center;
  align-self: center;
}

/**** BREAKPOINTS MEDIA QUERIES ****/
@media only screen and (max-width: 600px) {

  .logoSite {
    width: 15rem;
    height: 15rem;
  }

  .logoSiteNav {
    display: none;
  }

  .titleSite {
    display: none;
  }

  .listInline {
    flex-direction: column;
  }

  .subtitle {
    justify-self: center;
    align-self: center;
  }


  iframe {
    width: 20rem;
    height: 15rem;
  }
}

/**** BREAKPOINT TABLET ****/
@media only screen and (min-width: 600px) {
  header {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-areas: "logo title title .";
    justify-content: center;
    align-content: center;
  }


  .logo {
    grid-area: logo;
    display: flex;
    justify-content: start;
    align-items: center;

  }

  .title {
    grid-area: title;
    text-align: center;
  }

  .title span {
    display: block;
  }

  .logoSite {
    width: 10rem;
    height: 10rem;
  }

  .logoSiteNav {
    width: 5rem;
    height: 5rem;
  }

  .titleSite {
    display: inline;
    font-size: 2.5rem;
  }

  .contentSubtitle {
    text-align: start;
    margin-left: 2rem;
  }

  .listInline {
    height: 2rem;
    flex-direction: row;
    justify-content: space-evenly;
  }

  .subtitle {
    justify-self: normal;
    align-self: center;
  }

  iframe {
    width: 40rem;
    height: 20rem;
  }
}

/**** BREAKPOINT LAPTOP ****/
@media only screen and (min-width: 992px) {
  .titleSite {
    font-size: 3.5rem;
  }

  iframe {
    width: 60rem;
    height: 40rem;
  }
}

/**** BREAKPOINT DESKTOP ****/
@media only screen and (min-width: 1400px) {

  iframe {
    width: 65rem;
    height: 45rem;
  }
}