// ANIMATIONS

// ANIMATION FADE CAMP FORMS
@keyframes fade-in-up {
    from {
        transform: translate3d(0, 2.5rem, 0)
    }

    to {
        transform: translate3d(0, 0, 0);
        opacity: 1
    }
}

// ANIMATION CUSTOM CAROUSEL
@keyframes scroll {
	0% { transform: translateX(0); }
	100% { transform: translateX(calc(-15.6rem * 7))}
}
