// MIXINS

// GENERADOR DE SUBTITULOS SECCIONES
@mixin subtitle($bg-color: $color-violet, $ft-color: $color-font-secondary) {
    &__subtitle {
        grid-column: 1/-1;
        grid-template-rows: 3.125rem;
        color: $ft-color;
        padding: 1rem;
        background-color: $bg-color;
        box-shadow: 0.3125rem 0.3125rem 1.25rem $color-shadow;
        border-radius: 0.5rem;
        justify-self: normal;
        align-self: center;

    }

    &__content-subtitle {
        display: block;
        text-align: center;
        margin-bottom: 0;
        font-family: $font-primary;

        @include md {
            text-align: start;
            margin-left: 2rem;
        }
    }

}

// GENERADOR DE CARDS
@mixin card() {
    display: flex;
    flex-direction: column;
    align-content: center;
    height: 23.875rem;
    justify-content: space-between;
    align-items: center;
    row-gap: 1rem;
    background-image: linear-gradient(to bottom, $color-bg-primary, $color-bg-secondary);
    border-radius: 1rem;
    color: $color-font-primary;
    font-family: $font-secondary;
    font-size: 1.2rem;
    box-shadow: 0rem 0.0625rem 0.625rem $color-shadow;
    transition: all 0.7s ease;
    width: 18.75rem;
    flex: 0 0 auto;
}

// GENERADOR DE CONTENEDORES
@mixin block-container ($content:'',$gap: 2rem, $bg-color: $color-violet, $ft-color: $color-font-secondary) {
    @include subtitle($bg-color, $ft-color);

    &__container {
        display: grid;
        grid-template-columns: 1fr;
        grid-template-rows: repeat(2, auto);
        padding: 2rem;
        gap: $gap;
        place-content: center space-around;
    }
}

// CONTROL DISEÑO ICONOS
@mixin social-icon ($hv-color:'', $ft-color: $color-font-primary) {
    padding: 0.5rem;
    font-size: 2rem;
    color: $ft-color;

    &:hover {
        transition: 0.7s;
        color: $hv-color;
    }
}
