// VARIABLES
$color-bg-primary: #12181B;
$color-bg-secondary: #2A2E35;
$color-font-primary: #F5F5F5;
$color-font-secondary: #2A2E34;
$color-shadow: rgba(0, 0, 0, 0.5);
$color-shadow-hover: rgba(42, 46, 52, 0.9);
$color-violet: #9166CC;
$color-green: #01ff5f;
$color-pink: #ff0087;
$color-blue: #51C5F7;
$color-instagram: #BC1885;  
$color-youtube: #F21100;
$color-facebook: #3F62A8;


$font-primary: "Cubano",
sans-serif;
$font-secondary: "Sofia Pro",
sans-serif;
$font-tertiary: "Roboto Mono",
monospace;