// VARIABLES SCSS

// LIGHT MODE
$color-bg-primary: #d5dadd;
$color-bg-secondary: #dcdee2;
$color-font-primary:#454E56;
$color-font-secondary: #2A2E34;
$color-shadow: rgba(0, 0, 0, 0.5);
$color-bg-navbar: rgba(225, 229, 235, 0.95);
$color-violet: #726CDA;
$color-green: #09C372;
$color-pink: #F8466A;
$color-blue: #339AF7;
$color-instagram: #BC1885;
$color-youtube: #F21100;
$color-facebook: #3F62A8;
$color-github: #BC1885;
$color-linkedin: #0A66C2;
$color-gradient-1-black: #dcdee2;
$color-gradient-2-black: #dcdee2;
$color-toggler:rgba(0, 0, 0, 0.55);

// DARK MODE
$color-bg-primary-dark: #12181B;
$color-bg-secondary-dark: #29363f;
$color-font-primary-dark: #F5F5F5;
$color-font-secondary-dark: #2A2E34;
$color-shadow-dark: rgba(0, 0, 0, 0.5);
$color-bg-navbar-dark: rgba(42, 46, 52, 0.9);
$color-violet-dark: #9166CC;
$color-green-dark: #01ff5f;
$color-pink-dark: #ff0087;
$color-blue-dark: #51C5F7;
$color-instagram-dark: #BC1885;
$color-youtube-dark: #F21100;
$color-facebook-dark: #3F62A8;
$color-github-dark: #BC1885;
$color-linkedin-dark: #0A66C2;
$color-gradient-1-black-dark: black;
$color-gradient-2-black-dark: rgba(255, 255, 255, .1);
$color-toggler-dark:rgba(255, 255, 255, 0.55);

//Fonts
$font-primary: "Cubano",
sans-serif;
$font-secondary: "Sofia Pro",
sans-serif;
$font-tertiary: "Roboto Mono",
monospace;

// VARIABLES CSS

//Fonts
:root {
    --font-primary: #{$font-primary};
    --font-secondary: #{$font-secondary};
    --font-tertiary: #{$font-tertiary};
}