@use '../utilities/variables'as varbo;

// BODY
body {

    h1,
    h2,
    h3,
    h4,
    h5,
    h6 {
        font-family: varbo.$font-primary;
        margin: 0;
    }

    p {
        font-family: varbo.$font-secondary;
        margin: 0;
    }

    background-image: linear-gradient(to top, varbo.$color-bg-primary, varbo.$color-bg-secondary);
    color: varbo.$color-font-primary;

}