
@use "../utilities/variables" as *;

// BODY
body {
  h1,
  h2,
  h3,
  h4,
  h5,
  h6 {
    font-family: $font-primary;
    margin: 0;
  }

  p {
    font-family: $font-secondary;
    margin: 0;
  }

  background-image: linear-gradient(
    to top,
    $color-bg-primary,
    $color-bg-secondary
  );
  color: $color-font-primary;
}
