// FOOTER
.footer {
    display: grid;
    grid-template-columns: 1fr;
    place-content: center;
    align-items: center;
}

.pre-footer {
    display: grid;
    grid-template-columns: 1fr;
    place-content: center;
    place-items: center;
    row-gap: 2rem;
    text-align: center;
    background-image: linear-gradient(to top, varvar(--color-bg-primary), var(--color-bg-secondary));
    padding: 2rem;
    color: var(--color-font-primary);
    font-family: var(--font-secondary);
}

.section-about {
    background-image: linear-gradient(to bottom, var(--color-bg-primary), var(--color-bg-secondary));
    padding: 1.5rem;
    border-radius: 1rem;
    box-shadow: 0.3125rem 0.3125rem 1.25rem var(--color-shadow);

    &__desc-about {
        font-size: 1.2rem;
        margin-top: 1rem;
    }

    &__title-about {
        color: var(--color-font-secondary);
        background-color: var(--color-pink);
        border-radius: 0.5rem;
        padding: 0.5rem;
        box-shadow: 0.3125rem 0.3125rem 1.25rem var(--color-shadow);
    }
}

.section-follow {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: repeat(3, auto);
    gap: 1rem;
    grid-template-areas:
        "newsletter"
        "socials"
        "contact";
    justify-content: center;
    align-content: center;
    justify-items: center;
    align-items: center;

    @include md {
        grid-template-columns: repeat(3, 1fr);
        grid-template-rows: auto;
        grid-template-areas:
            "newsletter contact socials";
    }
}

.newsletter {
    grid-area: newsletter;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border-style: solid;
    padding: 0.8rem;
    background-image: linear-gradient(to top, var(--color-bg-primary), var(--color-bg-secondary));
    border-radius: 2rem;
    border-width: 0.1rem;
    border-color: var(--color-violet);
    box-shadow: 0rem 0.0625rem 0.625rem var(--color-violet);

    &__title {
        grid-area: titulo;
        display: inline-block;
        padding: 0.5rem;
    }
}

.socials {
    grid-area: socials;
    display: grid;
    grid-template-columns: repeat(3, auto);
    grid-template-rows: repeat(2, 2rem);
    grid-template-areas:
        "titulo titulo titulo";
    justify-content: center;
    align-items: center;
    gap: 1rem;
    border-style: solid;
    padding: 1.5rem;
    background-image: linear-gradient(to top, var(--color-bg-primary), var(--color-bg-secondary));
    border-radius: 2rem;
    border-width: 0.1rem;
    border-color: var(--color-blue);
    box-shadow: 0rem 0.0625rem 0.625rem var(--color-blue);

    &__link {

        &--facebook {
            @include social-icon ($hv-color: var(--color-facebook))
        }

        &--instagram {
            @include social-icon($hv-color: var(--color-instagram))
        }

        &--youtube {
            @include social-icon($hv-color: var(--color-youtube))
        }
    }

    &__title {
        grid-area: titulo;
        display: inline-block;
        padding: 0.5rem;
    }

}

.contact {
    grid-area: contact;
    border-style: solid;
    padding: 1rem;
    background-image: linear-gradient(to top, var(--color-bg-primary), var(--color-bg-secondary));
    border-radius: 2rem;
    border-width: 0.1rem;
    border-color: var(--color-green);
    box-shadow: 0rem 0.0625rem 0.625rem var(--color-green);

    &__text {
        &--telephone {
            font-size: 1rem;
        }
    }

    &__title {
        grid-area: titulo;
        display: inline-block;
        padding: 0.5rem;
    }
}

.copyright {
    background-image: linear-gradient(to bottom, var(--color-bg-primary), var(--color-bg-secondary));
    padding: 1.5rem;

    &__text {
        text-align: center;
        color: var(--color-font-primary);
        font-family: var(--font-secondary);
        font-size: 1rem;
    }
}

.form {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    &__button {
        @extend .btn;

        &--btn-news {
            font-size: 0.8rem;
            padding: 0.5em;
            margin-left: 0.5em;
            margin-right: 0.5em;
        }
    }

    &__email {
        margin: 0.5rem;
        border-radius: 0.5rem;
    }
}