// HEADER
.header {

    .title {

        &__site,
        &__link {
            color: $color-font-primary;
            text-decoration: none;

            &:hover {
                color: $color-font-primary;
            }
        }
    }

    @include xs {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        background-image: linear-gradient(to left, $color-bg-primary, $color-bg-secondary);
        padding: 0.625rem;

        .logo {
            &__site {
                width: 15rem;
                height: 15rem;
            }
        }

        .title {
            &__site {
                display: none;
                font-family: $font-primary;
            }
        }
    }

    @include sm {
        display: grid;
        grid-template-columns: repeat(4, 1fr);
        grid-template-areas: "logo title title .";
        justify-content: center;
        align-content: center;

        .logo {
            grid-area: logo;
            display: flex;
            justify-content: start;
            align-items: center;

            &__site {
                width: 10rem;
                height: 10rem;
            }
        }

        .title {
            grid-area: title;
            text-align: center;

            &__site {
                display: inline;
                font-size: 2.5rem;
            }

            &__subtitle-site {
                display: block;
                background-image: linear-gradient(to right, $color-pink, $color-blue);
                -webkit-background-clip: text;
                background-clip: text;
                -webkit-text-fill-color: transparent;
            }
        }
    }

    @include md {
        .title {
            &__site {
                font-size: 3.5rem;
            }
        }
    }

}