
@use "../utilities/variables" as *;

// MAIN
main {
  text-align: center;
  font-family: $font-secondary;
  color: $color-font-primary;
  background-image: linear-gradient(
    to top,
    $color-bg-primary,
    $color-bg-secondary
  );
}
