@use '../utilities/variables'as varma;

// MAIN
main {
    text-align: center;
    font-family: varma.$font-secondary;
    color: varma.$color-font-primary;
    background-image: linear-gradient(to top, varma.$color-bg-primary, varma.$color-bg-secondary);
}