.navbar {
    background-color: $color-shadow-hover;
    font-family: $font-primary;
    font-size: 1.2rem;
    padding: 1rem;
    z-index: 10;
    box-shadow: 0.5rem 0.5rem 2rem $color-shadow;
    position: sticky;
    top: 0;

    @include lg {
        .cart {
            display: none;
        }
    }

    .nav-link {
        color: $color-font-primary;
        text-decoration: none;
        border-radius: 0.5rem;
        transition: 0.7s;

        &:hover {
            padding: 0.5rem;
            background-color: $color-green;
            color: $color-font-secondary !important;
        }

    }
    
    .navbar-collapse {
        text-align: center;
        .cartBar {
            display: none;
            font-size: 1.25rem;
    
            @include lg {
                display: block;
            }
        }
    }

    .cartLink {
        color: $color-font-primary;
        font-size: 1.7rem;
        padding: 0.25rem;
        transition: 0.7s;
        border-radius: 0.5rem;

        &:hover {
            color: $color-bg-primary;
            background-color: $color-green;
        }
    }

    .badgeCart {
        background-color: $color-pink;
        color: $color-font-primary;
        font-family: $font-secondary;
        font-size: 0.9rem;
    }
}