// VARIABLES CSS

//Fonts
:root {
    --font-primary: #{$font-primary};
    --font-secondary: #{$font-secondary};
    --font-tertiary: #{$font-tertiary};
}

// APLICAR DARK MODE PREFERENCIA SISTEMA
@media (prefers-color-scheme: dark) {
    @include theme (true);
}

// APLICAR LIGHT MODE PREFERENCIA SISTEMA
@media (prefers-color-scheme: light) {
    @include theme (false);
}