.carousel-caption {
    background-color: $color-shadow;
    padding: 1rem;
    text-align: center;
    border-radius: 0.5rem;

    h5 {
        font-family: $font-primary;
        font-size: 3rem;
        color: $color-green;
    }

    p {
        font-family: $font-secondary;
        font-weight: 400;
        font-size: 1.5rem;
    }
}