// MULTIMEDIA
.video,
.map {
    &__iframe {
        border-radius: 0.5rem;
        box-shadow: 0.3125rem 0.3125rem 1.25rem var(--color-shadow);
        grid-area: media;

        @include xs {
            margin: 1rem;
            width: 30rem;
            height: 20rem;
        }

        @include sm {
            width: 35rem;
            height: 20rem;
        }

        @include md {
            margin: 3rem;
            width: 45rem;
            height: 25rem;
        }

        @include lg {
            width: 65rem;
            height: 45rem;
        }
    }
}