@use '../utilities/variables'as varna;
@use '../utilities/breakpoints'as bpna;

// NAVBAR
.navbar {
    background-color: varna.$color-shadow-hover;
    font-family: varna.$font-primary;
    font-size: 1.2rem;
    padding: 1rem;
    z-index: 10;
    box-shadow: 0.5rem 0.5rem 2rem varna.$color-shadow;
    position: sticky;
    top: 0;

    @include bpna.lg {
        .cart {
            display: none;
        }
    }

    .navbar-nav {
        .nav-link {
            color: varna.$color-font-primary;
            text-decoration: none;
            border-radius: 0.5rem;
            transition: 0.7s;

            &:hover {
                padding: 0.5rem;
                background-color: varna.$color-green;
                color: varna.$color-font-secondary;
            }

        }
    }

    .navbar-collapse {
        text-align: center;

        .cartBar {
            display: none;
            font-size: 1.25rem;

            @include bpna.lg {
                display: block;
            }
        }
    }

    .cartLink {
        color: varna.$color-font-primary;
        font-size: 1.7rem;
        padding: 0.25rem;
        transition: 0.7s;
        border-radius: 0.5rem;

        &:hover {
            color: varna.$color-bg-primary;
            background-color: varna.$color-green;
        }
    }

    .badgeCart {
        background-color: varna.$color-pink;
        color: varna.$color-font-primary;
        font-family: varna.$font-secondary;
        font-size: 0.9rem;
    }
}